<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oops try again</title>
	<style>
		ul
		{
			font-size: 30px;
			float:left;
		}
		a
		{
			font-size: 25px;
		}
	</style>
</head>
<body style="background-color: lightblue">
	<h1 style="text-align: center;">Oops you got it wrong</h1>
	<img style="padding-left: 45%" src="https://cdn-0.emojis.wiki/emoji-pics/apple/thumbs-down-apple.png">
	<a style="padding-left: 45%" href="{% url 'quiz' %}">Back to quiz</a>
	<br><br>
	<h2>Correct answers and your responses </h2>
	<ul>
		{% for answer in answers %}
			<li>{{answer}}</li>
		{% endfor %}
	</ul>
	<ul>
		{% for response in responses %}
			<li>{{response}}</li>
		{% endfor %}
	</ul>
	<a href="/logout">logout</a>
</body>
</html>